BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
UseTab: Never

# Braces
BreakBeforeBraces: Attach

# Spaces
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false

# Includes
SortIncludes: CaseSensitive

# Modern C++
Standard: c++20